# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Programacao\Java\Udemy\UfrmySpringBoot\01 RestWithSpringBootUdemy Scaffold Intellij\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
